<div *ngIf="isLoggedIn">

  <nav class="navbar navbar-light bg-light">
    <form class="input-group">
      <button routerLinkActive="active" class="btn btn-primary my-sm-0 m-2 " routerLink="/article-creation"
              style="border: none; background: powderblue">Добавить статью
      </button>
      <input class="form-control mr-sm-2" [(ngModel)]="search" (search)="getArticles()" type="search" placeholder="Поиск" aria-label="Search" value="{{search}}">
      <button class="btn btn-primary my-sm-0 m-2" (click)="searchArticles()"
              style="border: none; background: powderblue">Поиск
      </button>
    </form>
  </nav>

  <table class="row g-4 m-1">
      <td class="col" *ngFor="let articleEntity of articles">
        <div class="card h-100" style="width: 15rem;">
          <img [src]="image" alt="Article image" class="card-img-top rounded-top">
          <div class="card-body">
            <h3 class="card-title fw-bold text-center" type="button" (click)="setArticle(articleEntity.id)">{{articleEntity.title}}</h3>
            <p class="card-text">{{getTextArticle(articleEntity)}}</p>
            <label class="m-1">
              <i class="material-icons" style="color: greenyellow">thumb_up_alt</i>
              - {{articleEntity.likes}}
            </label>
            <label class="m-1">
              <i class="material-icons" style="color: red">thumb_down_alt</i>
              <span> - {{articleEntity.dislikes}}</span>
            </label>
            <span class="card-text"> (150)</span>
            <!--todo вытощить все коменты определенной стпатьи и вставить их число сюда -->
          </div>
          <div class="card-group">
              <a class="card-link" type="button" (click)="search=tag" *ngFor="let tag of getTagsArticle(articleEntity)">{{tag}}</a>
          </div>
          <div class="card-footer text-center">
            <div class="" style="display: inline-block; margin-right: 1rem;">
              <img class="card-img avatar" [src]="ava" alt="Author">
            </div>
            <div class="" style="display: inline-block; margin-right: 1rem;">
              <span class="card-text">{{articleEntity.author}}</span>
            </div>
            <div class="" style="display: inline-block; margin-right: 1rem;">
              <a class="card-img" href="/">Избранное</a>
            </div>
          </div>
        </div>
      </td>
  </table>
</div>

