<div *ngIf="isLoggedIn">

  <nav class="navbar navbar-light bg-light">
    <form class="input-group">
      <button routerLinkActive="active" class="btn btn-primary my-sm-0 m-2 " routerLink="/article-creation"
              style="border: none; background: powderblue">Добавить статью
      </button>
      <input class="form-control mr-sm-2" [(ngModel)]="search" (search)="getArticles()" type="search" placeholder="Поиск" aria-label="Search" value="{{search}}">
      <button class="btn btn-primary my-sm-0 m-2" (click)="searchArticles()"
              style="border: none; background: powderblue">Поиск
      </button>
    </form>
  </nav>

  <table class="row g-4 m-1">
      <td class="col" *ngFor="let articleEntity of articles">
        <div class="card h-100" style="width: 15rem;">
          <img [src]="image" alt="Article image" class="card-img-top rounded-top">
          <div class="card-body">
            <h3 class="card-title fw-bold text-center" type="button" (click)="setArticle(articleEntity.id)">{{articleEntity.title}}</h3>
            <p class="card-text">{{getTextArticle(articleEntity)}}</p>
            <label class="justify-content-between" style="display: flex; align-items:center;">
              <label class="" style="display: flex; align-items:center;">
                <i class="material-icons" style="color: greenyellow; margin-right: 2px">thumb_up_alt</i>
                <span>- {{articleEntity.likes}}</span>
              </label>
              <label class="" style="display: flex; align-items:center;">
                <i class="material-icons" style="color: red; margin-right: 2px">thumb_down_alt</i>
                <span>- {{articleEntity.dislikes}}</span>
              </label>
              <label class="" style="display: flex; align-items:center;">
                <i class="material-icons" style="color: grey">comments</i>
                <span style="margin-left: -22px">-</span>
              </label>
            </label>
            <!--todo вытощить все коменты определенной стпатьи и вставить их число сюда -->
          </div>
          <div class="card-group">
              <a class="card-link" type="button" (click)="search=tag" *ngFor="let tag of getTagsArticle(articleEntity)">{{tag}}</a>
          </div>
          <div class="card-footer text-center justify-content-between" style="display: flex; align-items:center;">
              <img class="card-img avatar" [src]="ava" alt="Author">
              <span class="card-text">{{articleEntity.author}}</span>
              <label class="" >
<!--                TODO сделать изменение цвета по нажатию-->
                <a type="button"><i class="material-icons" style="color: grey">bookmark</i></a>
              </label>
          </div>
        </div>
      </td>
  </table>
</div>

