<div class="container">
  <!--TODO  Сделать добавление фотографии к статье-->
  <div class="card card-container text-center mt-2">
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
      style="background: lightgoldenrodyellow"
    >
      <h2><b>Create article</b></h2>
      <hr>
      <div class="form-group m-1">
        <label>Title</label>
        <input
          type="text"
          class="form-control"
          name="title"
          [(ngModel)]="form.title"
          required
          #title="ngModel">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="title.errors && f.submitted"
        >
          Title is required!
        </div>
      </div>
      <div class="form-group m-1">
        <label>Text</label>
        <textarea
          type="text"
          class="form-control"
          name="text"
          [(ngModel)]="form.text"
          required
          minlength="6"
          #text="ngModel"></textarea>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="text.errors && f.submitted"
        >
         Text is required!
        </div>
      </div>
      <hr>
      <div class="form-group m-1 row">
        <label style="margin-bottom: -20px">Tags</label>
        <mat-form-field class="example-chip-list"
                        appearance="standard">
          <mat-chip-list #chipList aria-label="Tag selection">
            <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
              {{tag}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input  type="text"
                    class="form-control"
                    name="text"
                    placeholder="Enter tags here! (It's not obligatory)"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>
      </div>
      <div class="form-group text-center">
        <button class="btn btn-primary btn-block mb-2"
                style="border: none; background: #834800">Отправить
        </button>
      </div>
    </form>
  </div>
</div>

