<footer class="bd-footer py-2 mt-5 bg-light" *ngIf="isLoggedIn">
  <div class="container">
      <hr>
  </div>
  <div class="container py-3">
    <div class="row">

      <div class="col-lg-3 mb-3">
        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
          <span class="fs-5">Forum</span>
        </a>
        <ul class="list-unstyled small text-muted">
          <li class="mb-2">Разработан и построен с любовью</li>
          <li class="mb-2">Больше знаний, больше статей!</li>
          <li class="mb-2">Текущая версия v5.0.2.</li>
        </ul>
      </div>

      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Ссылки</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/">Главная</a></li>
          <li class="mb-2"><a href="/">Статьи</a></li>
          <li class="mb-2"><a href="/">Документация</a></li>
          <li class="mb-2"><a href="">Git</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
