<footer class="bd-footer py-2 mt-5 bg-light" *ngIf="isLoggedIn">
  <div class="container">
      <hr>
  </div>
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <span class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none fs-5">Forum</span>
        <ul class="list-unstyled small text-muted">
          <li class="mb-2">More knowledge, more articles!</li>
          <li class="mb-2">Current version v1.0.0</li>
          <li class="mb-2"></li>
        </ul>
      </div>

      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h3>Forum links</h3>
        <ul class="list-unstyled">
          <li class="mb-2" routerLinkActive="active"><a routerLink="/home">Home</a></li>
          <li class="mb-2" routerLinkActive="active"><a routerLink="/articles">Articles</a></li>
        </ul>
      </div>

      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h3>External links</h3>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/">Documentation</a></li>
          <li class="mb-2"><a href="https://github.com/Eteryz">Git</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
