<div class="panel card card-container">
  <form name="newComment"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate>
    <div class="panel-body form-group clearfix">
      <textarea
        type="text"
        class="form-control"
        name="text"
        [(ngModel)]="newComment.text"
        required
        minlength="1"
        placeholder="What are you thinking?"
        #text="ngModel"></textarea>
      <div class="alert alert-danger" role="alert" *ngIf="text.errors && f.submitted">
        Text is required!
      </div>
      <button class="btn btn-sm btn-primary btn-block mt-2"
              style="float: right; color: #fff;background-color: #5bc0de;border-color: #46b8da;">
        Share
      </button>
    </div>
  </form>
</div>

<div class="" style="text-align: center;">
  <div class="text-center">
    <h3 class="">Comments ({{comments.length}})</h3>
  </div>
  <table class="" style="text-align:left; display: inline-block; width: 80%">
    <!-- Комментарий (уровень 1) -->
    <div class="mb-5"  *ngFor="let comment of comments">
      <tr class="border-bottom" style="vertical-align:top;"  >
        <td class="p-2">
          <a href="#">
            <img class="rounded-circle" style="width: 70px; display: block;" [src]="getUserPhoto(comment.author)" alt="">
          </a>
        </td>
        <td class="border-1" style="width: 1000px;border-color: #bce8f1;">
          <div class="p-3" style="background-color: #d9edf7">
            <div class="align-content-center justify-content-center text-center">
            <div class="w-50 d-inline-block">
              <div>
                <b>{{comment.author}}</b>
              </div>
              <div>
                <span>{{comment.date_creation | date:'dd-MM-YYYY in HH:mm '}}</span>
              </div>
            </div>
            <div class="w-50 d-inline-block text-end">
              <div>
                <label>
                  <i type="button" class="material-icons" *ngIf="(comment.author == currentUser.username)
                  || currentUser.roles.includes('ROLE_ADMIN')"
                     (click)="buttonClickDelete(comment.id)">close</i>
                </label>
              </div>
            </div>
          </div>
          </div>
          <div class="panel-body">
            <div class="media-text text-justify">{{comment.text}}</div>
          </div>
        </td>
      </tr>
    </div>
    <!-- Конец комментария (уровень 1) -->
  </table>
</div>
