<div class="text-center mt-5 mb-5" >
  <h1>Добро пожаловать на форум!</h1>
</div>
<div class="table w-100">
  <div class="row">
    <div class="col-1 features align-text-top w-50">
      <div class="container text-center">
        <h2>Что мы предлагаем?</h2>
        <img src="assets/images/Home1.jpg" height="100px" alt="Icon 1">
        <div class="text-start">
          <div class="feature">
            <h3>Обсуждение тем</h3>
            <li>Участвуйте в дискуссиях на различные темы, которые вам интересны, и получайте новые знания и опыт.</li>
          </div>
          <div class="feature mt-3">
            <!--        <img src="assets/images/Home2.jpg" alt="Icon 2">-->
            <h3>Обмен опытом</h3>
            <li>Делитесь своим опытом и знаниями с другими участниками форума и узнавайте новое от них.</li>
          </div>
          <div class="feature mt-3">
            <h3>Поиск единомышленников</h3>
            <li>Найдите людей, которые разделяют ваши интересы и хобби, и общайтесь с ними на нашем форуме.</li>
          </div>

        </div>

      </div>
    </div>
    <div class="col-2 testimonials align-text-top w-50">
      <div class="container text-center">
        <h2>Отзывы участников</h2>
        <div class="text-start">
          <div class="testimonial d-inline-flex">
            <div class="">
              <div class="mt-2"></div>
              <img class="crug" src="assets/images/Home2.jpg" height="50px" alt="Avatar 1">
            </div>
            <div class="pt-3" style="margin-left: 10px">
              <blockquote>Я очень благодарен этому форуму за возможность общаться с такими же увлеченными людьми и узнавать новое от них. Рекомендую всем!</blockquote>
              <cite>Иван Петров, программист</cite>
            </div>
          </div>
          <hr>
          <div class="testimonial mt-4 d-inline-flex">
            <div class="">
              <div class="mt-2"></div>
              <img class="crug" src="assets/images/Home3.jpg" height="50px" style="-moz-border-radius: 10px" alt="Avatar 2">
            </div>
            <div class="pt-3" style="margin-left: 10px">
              <blockquote>Форум стал для меня настоящей находкой. Здесь я нашел много интересных друзей и получил множество полезных советов и рекомендаций.</blockquote>
              <cite>Алексей Бобков, дизайнер</cite>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
