.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.material-icons{
  margin-bottom: 0;
  padding-bottom: 0;
}

.noSelect{
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
